<%- include('../partials/header') %>

<h2>Flight List</h2>
<table id="list">
    <thead>
        <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight No.</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
            <tr>
                <td><%= f.airline %></td>
                <td><%= f.airport %></td>
                <td><%= f.flightNo %></td>
                <td><a href="/flights/<%= f.id %>">Details</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>